<header class="main-header">
  <nav class="nav main-nav">
    <h1 class="topic">HOME</h1>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/personaldata">EMPLOYEE PERSONAL DATA</a></li>
      <li><a href="/wages"> WAGES</a></li>
      <li><a href="/personaldata"> REPORT</a></li>
      <!-- <li><a href="/salaryslip"> SALARY SLIP</a></li> -->
      <li><a href="/leave">LEAVE</a></li>
    </ul>
  </nav>
</header>
