<a href="/" class="btn btn-primary mt-5">HOME</a>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="mt-4 text-center"><strong> EMPLOYEE LIST</strong></h1>

      <h1 class="mt-2 text-center">Add Here</h1>
      <form action="/register/registeruser" method="POST">
        <div class="form-group text-center m-4">
          <label for="fname">First name:</label><br />
          <input
            required
            type="text"
            id="fname"
            name="fname"
            placeholder="Enter Firsname"
          /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="lname">Last name:</label><br />
          <input
            required
            type="text"
            id="lname"
            name="lname"
            placeholder="Enter Lastname"
          /><br /><br />
        </div>
        <div class="form-group text-center m-4">
          <label for="email">Email:</label><br />
          <input
            required
            type="text"
            id="email"
            name="email"
            placeholder="Enter Email"
          /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="gender">Gender:</label><br />
          <label for="male">Male</label><br />
          <input
            required
            type="radio"
            id="female"
            name="gender"
            value="Female"
          />

          <label for="female">Female</label><br />

          <input required type="radio" id="other" name="gender" value="other" />
          <label for="other">Others</label><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="phone">Phone No.</label><br />
          <input required type="number" id="phone" name="phone" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="age">Age:</label><br />
          <input required type="text" id="age" name="age" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="city">CITY:</label><br />
          <input required type="text" id="city" name="city" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="state">STATE:</label><br />
          <input required type="text" id="state" name="state" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="pan">PAN NO.:</label><br />
          <input required type="text" id="pan" name="pan" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="adhar">ADHAR NO.:</label><br />
          <input required type="number" id="adhar" name="adhar" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="adhar">AADHAR NO.:</label><br />
          <input required type="number" id="adhar" name="adhar" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="esic">ESIC NO.:</label><br />
          <input required type="text" id="esic" name="esic" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="pf">PF NO.:</label><br />
          <input required type="text" id="pf" name="pf" /><br /><br />
        </div>

        <button type="submit" class="btn btn-success">Register</button>
      </form>
    </div>
  </div>
</div>

<!-- <li><a href="/personaldata">EMPLOYEE PERSONAL DATA</a></li>
      <li><a href="/wages"> WAGES</a></li>
      <li><a href="/report"> REPORT</a></li>
      <li><a href="/salaryslip"> SALARY SLIP</a></li>
      <li><a href="/leave">LEAVE</a></li> -->
