<a href="/" class="btn btn-primary mt-5">HOME</a>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <!-- <li><a href="/personaldata">EMPLOYEE PERSONAL DATA</a></li>
              <li><a href="/wages"> WAGES</a></li>
              <li><a href="/report"> REPORT</a></li>
              <li><a href="/salaryslip"> SALARY SLIP</a></li>
              <li><a href="/leave">LEAVE</a></li> -->

      <h1 class="text-center mb-3">LEAVE APPLICATION</h1>
      <form>
        <div class="form-group text-center m-4">
          <label for="id">ID: </label><br />
          <input required type="number" id="id" name="id" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="Date">Date:</label><br />
          <label for="from">From:</label>
          <input required type="date" id="from" name="from" /><br /><br />

          <label for="to">To:</label>
          <input required type="date" id="to" name="to" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="reason">Reason:</label><br />
          <textarea required type="text" id="city" name="city"></textarea
          ><br /><br />
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
