<li><a href="/" class="btn btn-primary mt-5">HOME</a></li>
<!-- <li><a href="/personaldata">EMPLOYEE PERSONAL DATA</a></li>
      <li><a href="/wages"> WAGES</a></li>
      <li><a href="/report"> REPORT</a></li>
      <li><a href="/salaryslip">SALARY SLIP</a></li>
      <li><a href="/leave">LEAVE</a></li> -->
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center">Employee Wages</h1>

      <form action="/wages/employeewages" method="POST">
        <!-- <label for="id">EMPLOYEE ID: </label><br />
              <input type="number" id="id" name="id" /><br /><br /> -->
        <div class="form-group text-center m-4">
          <label for="basicpay">Basic Pay: </label><br />
          <input type="number" id="basicpay" name="basicpay" /><br /><br />
        </div>
        <div class="form-group text-center m-4">
          <label for="da">DA: </label><br />
          <input type="number" id="da" name="da" /><br /><br />
        </div>
        <div class="form-group text-center m-4">
          <label for="hra">HRA: </label><br />
          <input type="number" id="hra" name="hra" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="medical">MEDICAL: </label><br />
          <input type="number" id="medical" name="medical" /><br /><br />
        </div>
        <div class="form-group text-center m-4">
          <label for="conv">CONV: </label><br />
          <input type="number" id="conv" name="conv" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="pf">PF: </label><br />
          <input type="number" id="pf" name="pf" /><br /><br />
        </div>

        <div class="form-group text-center m-4">
          <label for="tds">TDS: </label><br />
          <input type="number" id="tds" name="tds" /><br /><br />
        </div>

        <button type="submit" class="btn btn-success">Get Report</button>
      </form>
    </div>
  </div>
</div>
